@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  /* this removes the line under the links */
  text-decoration: none;
  color: #666;
}


.header {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 0px 16px 0px 16px;
}

.left-links,
.right-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* this removes the dots on the list items*/
  list-style-type: none;
  gap: 16px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  margin: 4px;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  background: #eeeeee;
  padding: 0px 16px 0px 16px;
}